[2020-06-16 21:44] iluuu1994 opened #1 "Python types"
Python has had type hints for a while:
https://docs.python.org/3/library/typing.html

[2020-06-16 22:06] iluuu1994 opened #5 "Swift example"
[code]

I get that every language uses the same example for better comparison. It would be easier to demonstrate that each case holds its own set of associated values with a different example where each case holds different arity and type of assoc values.

[2020-06-16 22:15] iluuu1994 opened #6 "Swift Optional enum"
[Swifts `Optional` type is also just an enum](https://developer.apple.com/documentation/swift/optional).

[code]

They just have fancy syntax that means the same thing (e.g. `Int?` => `Optional<Int>`).

[2020-06-16 22:37] Crell commented on #1
"hints" is the right term.  They don't do anything at runtime so as far as I'm concerned they're pointless.

[2020-06-16 22:39] iluuu1994 commented on #1
fair enough :)

[2020-06-16 22:39] #1 closed, assigned to nobody

[2020-06-16 22:45] Crell commented on #6
Will update, thanks.

[2020-06-16 22:45] #6 closed, assigned to nobody

[2020-06-19 17:11] jurchiks opened #7 "Java enums do support constructors with parameters"
This comparison survey states: `Enums do not support constructors. (Or rather, the constructor is private, so you cannot pass parameters to it.)`

Official documentation disagrees: https://docs.oracle.com/javase/tutorial/java/javaOO/enum.html
Scroll down to `public enum Planet`, there is a constructor with parameters, which, naturally, can be overloaded.

This is a huge oversight.

[2020-06-21 19:10] Crell commented on #7
Hm.  Looks like I misread the other tutorial I was reading.

I have corrected it.  Thanks.

[2020-06-21 19:10] #7 closed, assigned to nobody

[2020-06-21 19:16] jurchiks commented on #7
You missed the Summary table.

[2020-09-19 23:47] iluuu1994 opened #10 "Visibility modifiers"
Should we allow `private` cases? How would that work with pattern matching?

[2020-09-19 23:48] Crell opened #11 "EnumType::values()"
Do we auto-generate an `EnumType::values()` method when the enum has only Unit Cases?

Pro: It's a common-enough use case.  It's probably not too hard to do.

Con: Possibly interesting error handling when an Enum Type has Associable Cases, since then we can't have the method.  Or the method has to throw an exception.  Or something.  Is the order locked at Lexical order or do we leave it undefined?

[2020-09-20 12:41] bwoebi opened #13 "Pattern matching design considerations"
I think it's sort of okay to bring the pattern matching as a separate RFC, but a well thought out design for pattern matching should exist beforehand, so that they can be nicely integrated at some future point without having to realize fundamental shortcomings in enums with associated values later on.

I wish to see couple a solid examples of it and why they would work out.

[2020-09-20 12:43] bwoebi opened #14 "What's the base type of enum and their values?"
Are enums for the purpose of semantics and reflection _classes_?
And their singleton values then _constants_?

[2020-09-20 12:50] #5 closed, assigned to nobody

[2020-09-20 12:54] bwoebi opened #15 "Manual instantiation of enum values"
[code]

What is $obj now? Does that throw?
What about `new ReflectionClass(SomeEnum::SomeValue)->newInstanceWithoutConstructor();`?
What about `$obj = unserialize(serialize(SomeEnum::SomeValue));`

Esp. the latter case should work I think, and return the singleton object.

[2020-09-20 13:00] bwoebi opened #16 "visibility on associated values"
Is there any case or reason why an enum should ever contain protected or private contents?
I consider an enum to be a fully transparent object without hidden state - immutable and fully open. Enums are data, not state.

As such I would also drop the visibility modifier from associated values argument lists.

[2020-09-20 13:03] iluuu1994 commented on #16
Raised the same concern here: #10

[2020-09-20 13:03] #16 closed, assigned to nobody

[2020-09-20 13:04] iluuu1994 commented on #10
Comment from @bwoebi:

[2020-09-20 13:06] bwoebi opened #17 "Weak comparisons of enums with associated values"
When are they equal?
When their contents match weakly? strictly?

[2020-09-20 13:09] iluuu1994 commented on #15
Good point. Maybe it would be easiest to make sure strict comparison (`===`) will return true for unit cases even when they're not the same object? Which would not really be unit cases anymore in that case I guess.

[2020-09-20 13:11] iluuu1994 commented on #17
I would say when they're the same case and all the members also equate with `==`. Similarly, `===` should match when they're the same case and the members equate with `===` (like `Option::Some(1) === Option::Some(1)`).

[2020-09-20 13:12] bwoebi commented on #11
Order should be definition order. And return the objects, just like `new ReflectionClass(EnumType::class)->getConstants()` would do.

We may consider leaving the values() function off if the object has at least one associate case. (And I think, in that case it's also much less useful)

We may want to add an additional function returning the _names_ of the classes of the enum, so that a code inspec

[2020-09-20 13:14] bwoebi commented on #15
I think we should strive to ensure singleton-ness … Otherwise we're going to break current assumptions like `spl_object_id($a) === spl_object_id($b)` <=> `$a  === $b`

[2020-09-20 13:15] iluuu1994 commented on #11
I think that makes most sense. Enumerating is only really useful for finite enums. When any case has an associated value they're not really finite anymore.

[2020-09-20 13:17] iluuu1994 commented on #11
Would that actually be necessary? Psalm can already do it for constants: https://psalm.dev/r/82bcedc134

[2020-09-20 13:20] bwoebi commented on #11
I was really more thinking about runtime messages than about static analysis. Was just an idea though, not sure how necessary it is...

[2020-09-20 13:21] iluuu1994 commented on #15
What about cases with associated values? Wouldn't we want `Option::Some(1) === Option::Some(1)` to return `true`, even if they're not the same object? Technically it would be better for enums to be value types but that would require a lot more code changes.

[2020-09-20 13:22] bwoebi opened #18 "dynamic "match type""
What are accepted values on the LHS of =>? Is that supposed to work like instanceof, e.g. `match type ($foo) { $enumclassname1 => ...,$enumclassname2 => ..., }` would be valid? And generally applicable to all objects / types (e.g. `int`, `stdClass` etc.)

[2020-09-20 13:23] iluuu1994 commented on #18
I'm not a big fan of the syntax honestly. I'd prefer more traditional pattern matching. I'd also argue this belongs to the pattern matching RFC more than the enum RFC.

[2020-09-20 13:24] bwoebi commented on #18
Yes, I think pattern matching would solve that too, hence #13 to see what they shall and can do.

[2020-09-20 13:27] iluuu1994 commented on #11
Side note: This is also what Swift does, seems to work well for them.

In terms of reflection we could potentially also create a new ReflectionEnum class where you can inspect the given cases in which case we could merge unit and associated cases. That could make more sense for end users.

[2020-09-20 13:27] bwoebi commented on #15
An alternative possibility would be making cases with associated values also singleton. (storing a lookup-able reference internally) That would be really value type-like.
I have no idea how well that would work out and instantiating still needs to be O(1) and not O(n) with n being the number of already instantiated objects of that type...

[2020-09-20 13:30] bwoebi commented on #11
Yeah, I guess listing the class names is best part of reflection. Shouldn't really be a method on the enum classes.

[2020-09-20 13:38] iluuu1994 commented on #13
I agree. While pattern matching doesn't need to be part of this RFC we should know exactly what we want to do with it, preferably with a working implementation. There's still a risk of only one of the RFCs being accepted though. I'm not sure if there's a better approach here.

[2020-09-20 13:42] bwoebi opened #19 "Future scope? Combining multiple (non-value-associated) enum values"
C# has the nice ability to do `$permissions = Perm::READ | Perm::EXEC` to describe a set of combinations of values; not every enum value is mutually exclusive.

Do we want to keep this possibility in mind while designing enums, or do we want to reject that entirely?

As I think about it right now, I feel like we need a proper `EnumSet<? is Enum>` generic for that so that we can distinguish these f

[2020-09-20 13:44] bwoebi commented on #13
While that risk is there, we need to have at least a _viable_ path. If the pattern matching RFC ends up rejected, we can still tweak that RFC and give it another try later on, but if we do a viable attempt at it right now, we at least aren't going to be blocked by our own design decisions later on.

[2020-09-20 13:47] iluuu1994 commented on #19
C# does so via the `Flags` attribute. In that case we would need enums backed by raw values which we avoided in this RFC. The question is, can that be added in the future or would the RFC currently make that impossible?

[2020-09-20 13:49] bwoebi opened #20 "Extending enums"
Will it be possible to write `enum A extends B {}` where `B` is another enum? - Yes, I see no fundamental reason why that should not work out.
Can we use traits in enums and cases? - Yes, I would say so.

[2020-09-20 13:52] bwoebi commented on #19
Why would we need backing by raw values?

I _think_ the RFC should not make it impossible, but I'm mentioning it so that we can think about whether the RFC would restrain it.

[2020-09-20 13:54] iluuu1994 commented on #20
I would actually say no.

[code]

You're now essentially allowing to dynamically add cases to `A` but the whole point of the enums is that the cases are finite. In other words, you can no longer know if you handle all cases when passing `A` to a `match`. I'd suggest making enums final classes.

[2020-09-20 13:54] iluuu1994 commented on #20
I'd say so yes. We'd need to specify that using traits is also allowed in cases.

[2020-09-20 13:55] bwoebi commented on #19
Yeah, I know, and I do not particularly like it, because you still put the name of the enum as type in your signature and then you get bitten because you forgot about the Flag-possibility and thought your switch were exhaustive. Hence I'd prefer something like `EnumSet<Perm>` to be more clear and obvious at that point.

[2020-09-20 14:02] bwoebi commented on #20
@iluuu1994 yeah, but you cannot pass `B::Baz` to something expecting `A`. This would error out at the function boundary already. You could do (with current proposal):

[code]

Essentially this should not be inferior to doing:

[code]

[2020-09-20 14:04] bwoebi commented on #20
Alternatively expressed, if you have `A|B $val` without extending or `B $val` with B extending A would be defacto equivalent and expose the same problems.

Just that we save boilerplate.

[2020-09-20 14:05] bwoebi opened #21 "Are constants allowed?"
We permit static methods … do we also permit constants (on enum decls, anyway not on cases; should be stated explicitly in the RFC though)? Should be symmetrical, but not sure about possible confusions.
And in the same thought train, static properties?

[2020-09-20 14:09] bwoebi commented on #11
I think we should _not_ have that under future scope, because otherwise people are going to implement their own `static function values()` and adding it in a later version would be quite the BC break.

[2020-09-20 14:11] iluuu1994 commented on #20
Depends, if we compile `A` and `B` down to classes the class hierarchy would essentially look like this:

[code]

Thus `B::Baz` would be a subtype of `A`.

[2020-09-20 14:13] iluuu1994 commented on #21
I'm not sure. Allowing them later on would be much easier than removing them.

[2020-09-20 14:14] bwoebi commented on #20
Ah, right … I was somehow thinking of the following inheritance:

[code]

Which would sort of make sense here, but our class model isn't designed for that…

[2020-09-20 14:30] iluuu1994 commented on #11
Thinking about it, would `values()` be redundant if we have proper reflection? `values()` would be a lot more convenient for sure.

[2020-09-20 14:53] Crell commented on #11
The cases where you'd want to use `values()` are cases where your brain is not really in reflection land.  If we think people are going to want it, let's do it right.

So it sounds like:

* If an Enum Type has only Unit cases, generate `Type::values()` which returns an array of singleton Case objects, in lexical order.
* If there is at least one Associable Case, do not generate `values()` or have

[2020-09-20 14:54] Crell commented on #13
Some prior brainstorming on pattern matching: https://gist.github.com/Crell/58f6ca9c3cdb7f86912adca5bc389f4d

[2020-09-20 14:57] Crell commented on #14
I think the answer is "Yes" and "Maybe".  The current plan is to let Iliya try to implement it and see what happens, and then ask if we're OK with what happens.

[2020-09-20 15:02] Crell commented on #17
If we could do that sort of deeper definition of ===, I'm on board.  Recall though that it may end up being recursive, since you can easily have an Enum var as a property of another Enum.

[2020-09-20 15:08] Crell commented on #18
My thinking there was exactly that.  `match type` would mean "do an instanceof if it's an object or enum, and a get_type() for anything else."  So you could then, mostly as a side effect, do:

[code]

Whether that's ideal or not, I don't know.  It's just the best way I could come up with to make `match` handle Associable Case Enums without including pattern matching.  Although even then we may nee

[2020-09-20 15:15] Crell commented on #19
From my research, it seemed like that feature only existed in languages/cases where the enum cases were primitive-backed, and thus you could assign them to bitmasks, and compound enum cases fall out of that naturally.  Since we're not making them primitive-backed, I figured we would just accept not having that ability.  I'm not against it, I just figured it was a worthy sacrifice for robust ADTs t

[2020-09-20 15:22] Crell commented on #21
I'm inclined to say no.  The purpose of enums is not to be classes per se; that's an implementation detail.  Their purpose is to define types that are themselves fully defining their meaning by virtue of being types.  The only data of any kind that should be needed is for ADTs/Associated Values.  Beyond that, the type definition itself is supposed to be where the design decisions lives.

I don't k

[2020-09-20 15:23] iluuu1994 commented on #19
If I understand @bwoebi correctly `EnumSet` would make adding additional logic to enums unnecessary.

[2020-09-20 15:23] Crell commented on #20
I would be inclined to agree with Iliya.  No to extension.  Traits... maybe, but that could be a way to sneak in additional properties and other mutable state that IMO we want to avoid.

[2020-09-20 15:26] iluuu1994 commented on #20
Yeah... If we disallow consts in enums we'd also need to make sure the trait doesn't include consts.

[2020-09-20 15:29] bwoebi commented on #11
I think not generating it would be better, so that people who want to can define their own `static function values()` then, not just because "easier".

[2020-09-20 15:34] iluuu1994 commented on #11
A more Rust approach could be adding an attribute to synthesize these methods explicitely?

[code]

[2020-09-20 15:52] bwoebi commented on #19
Yeah, should be the case @iluuu1994

[2020-09-20 16:24] bwoebi commented on #21
If you have static methods… why wouldn't you have static properties?

On constants, their use case could be defining mappings between enum and primitive values.

[2020-09-20 16:25] bwoebi commented on #11
I do not see a particular gain in not just always providing values() if no associable cases - why would you do that explicitly?

[2020-09-20 16:30] bwoebi opened #22 "Attributes on enums"
Quoting example from rightfold: https://chat.stackoverflow.com/transcript/message/50502258#50502258

[code]

I think that's a good usage of attributes - and having a good usage available, we should probably allow them.

[2020-09-20 16:32] bwoebi commented on #22
We may even consider a couple native traits/primitives as part of the standard library (because it feels to me like this could be a common pattern, but if we don't do that ourselves, every library will just roll their own over and over again).

[2020-09-20 16:53] iluuu1994 commented on #11
@bwoebi

Well, now I'm confused ^^

[2020-09-20 16:56] iluuu1994 commented on #22
Sounds sensible. Adding an attribute there would probably just add it to the underlying case class.

[2020-09-20 18:14] bwoebi commented on #11
I meant in this case, not generating it was better, quoting Larrys post above:

But for the case there are no associables cases, then it should be generated.

Sorry for confusion :-)

[2020-10-26 15:36] frankdejonge commented on #11
@Crell since there are units and non-units, could an `EnumType::unitValues()` be an option? In this case only the unit cases would be returned (an empty array if there are non). This explicit distinction could make it clearer what _is_ and more importantly what _is not_ returned.

[2020-10-26 16:41] iluuu1994 commented on #11
@frankdejonge That would work but I'm not sure it's valuable or even desirable to iterate over a subset of an infinite set. But we should probably make it possible to check if an enum class is finite though (like implementing an marker interface that actually defines the `values()` method).

[2020-10-26 18:42] nafg opened #24 "Points about enumerations in Scala"
README.md says

Scala 3, due to be released in a few months, will in fact have language support. http://dotty.epfl.ch/docs/reference/enums/enums.html

However Scala 2.x does not. `Enumeration` is a class in the standard library that uses reflection and takes advantage of several Scala language features to make it easy to define simple enumerations.

People often use sealed traits + case objects in

[2020-10-27 14:11] Crell commented on #11
Broadly speaking, there are two categories of enum use cases:

* A finite list of unit values.  Sometimes it makes sense to back these with a primitive, sometimes not.  They will often, but not always, need to be serialized/deserialized to/from the database or request.  Getting a list of them makes sense.
* One or more associable values.  This means the list of possible values is generally infinit

[2020-10-27 14:22] frankdejonge commented on #11
I'd be in favor of exploring this. When I look at the doctrine that can be applied to enums as finite options, they are impossible to apply on associable values. Enums with only predefined values can benefit from a lot of assistive tooling such as the before mentioned `EnumType::from()`, the `EnumType::values()` method. In addition this, I believe the introduction of the concept will have a higher

[2020-10-27 14:24] frankdejonge commented on #11
Is there a standalone concept in an other language that provides the functionality that a (as defined in the current proposal) associable value would bring to PHP?

[2020-10-27 15:09] iluuu1994 commented on #11
Rowan has mentioned this before (actually, he was always of the opinion that it should be two separate features). I don't really agree. An enum would only contain cases with no associated values, whereas ADTs would contain at least one case with associated values. If you have an enum with 10 cases and you want to add one case with associated values to it you'll need to convert it to an ADT, which

[2020-10-27 15:16] Crell commented on #11
The big difference is in the primitive equivalent.  If we have no primitive equivalents (as originally planned), then yes, ADTs are a strict superset of enums and implementing them in the same coherent data structure makes complete sense.  But if unit values have primitive equivalents and associated values do not, does that make the single data structure too complicated?  Either from a syntax POV

[2020-10-27 16:36] iluuu1994 commented on #11
Enums don't inherently all have primitive equivalents. Even if they do we might want to avoid implicit coercion and require explicit method calls to convert enum values to their primitive counterparts. If we wanted to language support for primitives that could look like this:

[code]

We might also want to inhibit mixing primitive backed cases and non-primitive backed cases altogether to avoid con

[2020-10-27 16:53] Crell commented on #11
The big overlap for me would be methods; There's use cases for both unit and associated members to have methods, and doing that twice would be fugly.  In fact... I can see a case for unit cases to have a primitive equivalent and methods.  That syntax gets maybe weird, unless done via annotations.

So the question is, would doing what Swift does (forbidding primitivized and associated members in th

[2020-11-01 11:43] iluuu1994 opened #26 "No semi-colon after case with body"
From the RFC:

[code]

I think there should be no semi-colon here. This way we're consistent with methods with or with no body.

[code]

https://3v4l.org/Y0Fe1

Thoughts?

[2020-11-01 18:25] Crell commented on #26
I'm fine with it.  My concern is that the syntax then becomes

`case Foo;`
or
`case Foo { ... }`

So you end up with a semi-colon OR a closing brace.  That feels inconsistent, and I don't know if there are parser implications.  But I don't feel strongly either way.

[2020-11-01 18:43] iluuu1994 commented on #26
@Crell I just feel like that would be more consistent with existing language constructs.

[code]

etc.

[2020-11-02 21:57] Crell commented on #26
Fair.  I'll update that once the primitive PR is merged.  Want to do that for now at least as a discussion point, or is there more to adjust for now?

[2020-11-03 09:20] iluuu1994 commented on #26
Feel free to merge the PR and I'll adjust that afterwards.

[2020-12-03 13:13] iluuu1994 commented on #21
We've decided against constants. I'm not yet totally sure about static properties but I'm also tending towards no. I'll close this issue for now.

[2020-12-03 13:13] #21 closed, assigned to nobody

[2020-12-03 13:13] #26 closed, assigned to nobody

[2020-12-03 13:14] iluuu1994 commented on #20
No inheritance for now as that would not actually make the classes sealed.

[2020-12-03 13:14] #20 closed, assigned to nobody

[2020-12-03 13:25] iluuu1994 opened #27 "Static methods"
The RFC says:

Any specific reason this shouldn't be allowed? Also, are we talking about enums or the enum cases?

Example where this would be useful:

[code]

[2020-12-03 13:33] iluuu1994 opened #28 "Reflection"
The enum currently proposes two new reflection types: `ReflectionEnum` and `ReflectionCase`.

There's a very very large overlap with `ReflectionClass` for both of these since they are in fact just classes. Thus I suggest also actually making them subclasses of `ReflectionClass`.

* `ReflectionEnum::[hasCase|getCases|getCase]`
    * These are in fact practically equivalent to `hasConstant|getConsta

[2020-12-03 13:34] iluuu1994 opened #29 "Empty enum"
The RFC currently says:

Any reason for requiring at least one case? All other language constructs allow empty bodies.

[2020-12-03 13:39] iluuu1994 opened #30 "Protected is not identical to private"
This is true only for enum cases but not the enums themselves.

[code]

[2020-12-03 22:08] iluuu1994 opened #31 "Serialization"
Does it actually make sense to `__serialize` and `__deserialize`? I see no point in this, you're not allowed to store properties on the enum anyway.

[2020-12-03 23:16] iluuu1994 commented on #31
We disallowed those methods.

[2020-12-03 23:16] #31 closed, assigned to nobody

[2020-12-03 23:18] Crell commented on #30
Makes sense. I updated the RFC accordingly.

[2020-12-03 23:18] iluuu1994 commented on #30
Thanks :+1:

[2020-12-03 23:18] #30 closed, assigned to nobody

[2020-12-03 23:19] Crell commented on #27
I had intended for both, because I couldn't think of a use case for them.  But that's a good one.  Should we allow static methods on both, or just on the Enum?

[2020-12-03 23:19] iluuu1994 commented on #27
I'd say just on enums, there's no obvious way to invoke them on enum cases (other than through the instance in which case they could just be an instance method in the first place).

[2020-12-03 23:22] Crell commented on #29
What use would an empty enum have?  I can't think of one.  A single-element Enum would be a category theory "unit" (a type with only one value, and thus adds no value to a product type), but I don't know what purpose a 0-element Enum has.

[2020-12-03 23:24] Crell commented on #28
As subclasses, then you'd just hard code empty/null returns for the irrelevant class methods, like static methods, properties, and the like?  Or are you suggesting not having separate reflection class at all?

[2020-12-03 23:25] iluuu1994 commented on #29
Nothing really. What's an empty if statement useful for? Nothing really. We allow it anyway :)

[2020-12-03 23:25] Crell commented on #22
The RFC as written uses a Swift-like syntax for primitives.  I'm not sure that there's a good reason to do both that and attributes.

[2020-12-03 23:28] iluuu1994 commented on #28
Yeah, this will work pretty much out of the box since enums are in fact just classes.

I think a separate sub-class could make could make sense but we have avoided that in the past. I'm not sure if there's a reason for it.

[2020-12-03 23:31] iluuu1994 commented on #22
I think just propagating the attributes to the case class would make most sense.

[code]

[2020-12-03 23:44] iluuu1994 opened #32 "Enums as keys"
This should be added to future scope.

[2020-12-04 14:43] Crell commented on #27
Added that, and an example of using a "named constructor" for an enum to demonstrate it.

[2020-12-04 14:45] Crell commented on #28
I think Enums are sufficiently non-classy in a user's mind (if not implementation) to give them a separate class, but I'm OK with making them subclasses internally.  I'll update the RFC.

[2020-12-04 14:49] Crell commented on #29
I don't feel strongly enough about it either way, so whatever gets it the most votes works for me.

[2020-12-04 14:50] Crell commented on #32
Is there a need beyond what WeakMap covers?

[2020-12-04 14:51] iluuu1994 commented on #32
Yeah for sure. Weak maps memory management is different (if you only track the objects in the map they'll be deallocated) and it can't be serialized.

[2020-12-04 14:54] iluuu1994 commented on #27
Thank you :)

[2020-12-04 14:54] #27 closed, assigned to nobody

[2020-12-04 15:02] Crell commented on #32
Eh, not convinced, but added to future scope to keep others from asking the same question. :smile:

[2020-12-04 15:11] iluuu1994 commented on #32
Cool :+1:

[2020-12-04 15:11] #32 closed, assigned to nobody

[2020-12-04 20:53] iluuu1994 opened #33 "Do we need Enum::Case type?"
I'm not entirely sure we really need support for the *type* `Enum::Case` at this point because it's equivalent to `===`. It's only potentially useful when you want to call methods in some other context without checking/asserting the case first.

[2020-12-04 20:54] iluuu1994 opened #34 "Allow implementing interfaces in enum cases"
Since we allow implementing methods that are only available in a subset of the cases allowing to implement interfaces only for a subset of cases would probably also make sense.

[2020-12-04 21:00] iluuu1994 opened #35 "Type coercion?"
Do we *really* need type coercion? Especially since the RFC currently only allows one-sided coercion (from objects to scalars) I'd be happier dropping it altogether.

[2020-12-04 21:16] iluuu1994 opened #36 "TARGET_ENUM/TARGET_CASE"
Like with reflection I don't think we should differentiate between `TARGET_CLASS` and `TARGET_ENUM`/`TARGET_CASE`. For example, we don't do that for interfaces/traits either.

[2020-12-04 21:44] iluuu1994 opened #37 "Float to string in cases() assoc array"
I'm afraid this could result in some rounding errors.

https://3v4l.org/ng9vE

[2020-12-04 21:44] iluuu1994 commented on #28
Thanks!

[2020-12-04 21:44] #28 closed, assigned to nobody

[2020-12-04 21:46] iluuu1994 commented on #29
I think it would be more consistent. We allow empty classes, functions, if statements, switch statements, match expressions, etc.

[2020-12-04 23:06] Crell commented on #33
Possibly not.  I listed that mainly because I expected it would fall out anyway, and to demonstrate that it's a subclass.  Does it not "just work"?

[2020-12-04 23:08] Crell commented on #34
Not a hill I'll die on either way.  Mainly I'm just trying to balance "make enums as powerful as possible" without becoming "there's really no reason to not just use objects". :smile:

[2020-12-04 23:09] Crell commented on #35
When else besides cases() would the primitive be used then?  Having a primitive that you can never actually leverage except in `cases()` doesn't seem all that useful.  I guess then we'd need a dedicated `value()` method after all...

[2020-12-04 23:10] Crell commented on #36
You don't think there will be cases where you want an attribute that makes sense only on a Case?

[2020-12-04 23:11] Crell commented on #37
No more or less than floats as array keys, which also get read as strings.  This is the same logic used there.  What should be done with floats otherwise?

[2020-12-04 23:12] Crell commented on #29
Changed the RFC.

[2020-12-04 23:12] #29 closed, assigned to nobody

[2020-12-04 23:20] iluuu1994 commented on #35
Well, you still need a way to explicitly get the value. We'd need that for strict types anyway. And I've just realized that behavior isn't even described. We'd need something like `$foo->value()` or possibly even just `$foo->value`.

[2020-12-04 23:22] iluuu1994 commented on #36
Not more than an attribute just for interfaces or traits, I guess. At the end of the day you can still check that the given class is an enum or case through reflection. @beberlei Any thoughts on this?

[2020-12-04 23:23] iluuu1994 commented on #33
Not completely automatic but probably easy. I feel like this part could be a tiny bit controversial. We can also leave it in and I'll see how easy it is to implement.

[2020-12-04 23:24] iluuu1994 commented on #37
Not sure... Do we floats anyway is probably what I'm thinking.

[2020-12-04 23:24] iluuu1994 commented on #29
Thanks!

[2020-12-05 12:39] iluuu1994 opened #38 "enum_exists?"
https://github.com/php/php-src/pull/6489#issuecomment-739237321

We have `interfaces_exists` and `trait_exists`, do we need `enum_exists` to check whether a given class is an enum?

[2020-12-05 13:37] stof opened #39 "should __get be allowed on enum cases ?"
The RFC currently lists `__get` as an allowed method (but not `__set`). given that properties are forbidden, what is the reason to allow magic properties ?

[2020-12-05 15:24] stof opened #40 "Interaction with the object typehint"
How do enum interact with the `object` typehint ? Being backed by objects, a naive implementation would probably allow enums to satisfy such a typehint. But that might be counter-intuitive for devs not knowing the internal implementation.

[2020-12-05 15:57] Crell commented on #38
I have no strong opinion at the moment.  On the reflection-related side, I am mostly comfortable with whatever the consensus is.

It probably makes sense, although Dave's point about also wanting symbol_exists() is valid, if tangential.

[2020-12-05 16:00] Crell commented on #39
[code]

Which would allow you to do `Suit::Hearts->color` instead of `Suit::Hearts->color()`.

It's technically nothing that you could also do with methods, but provides a property-like syntax for it if desired.

[2020-12-05 16:07] Crell commented on #13
Current thinking is here: https://wiki.php.net/rfc/pattern-matching

I'm going to close this ticket for now.  I'm sure pattern matching will be its own ball of wax when the time comes.

[2020-12-05 16:07] #13 closed, assigned to nobody

[2020-12-05 16:09] Crell commented on #37
"Do we floats anyway" - E_PARSE.

[2020-12-05 16:53] tuqqu opened #41 "the type of enums and gettype() and is_enum()"
What is Enums type? So far it is not said that Enums introduce a new type, so are they expected to be of type `object`?

If that's the case does it means that `gettype()` function's output would be `object` and there won't be a corresponding `is_enum()` function, but rather we should use the` is_object()` instead?

Don't you think it would be a little odd not to be able to distinguish between an o

[2020-12-05 17:01] iluuu1994 commented on #37
Lol. I'm really good at "refactoring" sentences until they make no sense whatsoever.

[2020-12-05 19:13] iluuu1994 commented on #40
It's not explicitly written down but generally we would like to make enums as "unspecial" as possible. So IMO yes, `is_object` and the `object` typehint will accept enums.

[2020-12-05 19:31] Crell opened #42 "Add value() method"
For scalar-backed enums, add a value() method that returns the corresponding value.

For unit enums, the method doesn't exist and so will error out like any other missing method.  Possibly with a more targeted error message.

[2020-12-05 19:41] Crell commented on #41
Enums are, under the hood, objects.  So they'll pass object type hints, etc.  Things like `is_enum()` we're still working on exactly what's appropriate.  Literally, we're discussing that as I'm typing this. :smiley:

[2020-12-05 19:44] Crell opened #43 "Add internal interfaces for the different types of enum"
[code]

[2020-12-05 20:08] Crell commented on #43
RFC has been updated accordingly.  @iluuu1994, mark this closed when it's been implemented.

[2020-12-05 20:09] Crell commented on #42
RFC has been updated accordingly.  @iluuu1994, mark this closed when it's been implemented.

[2020-12-05 20:09] Crell commented on #41
I've updated the RFC to clarify "what objects do" is the default behavior.

[2020-12-05 20:09] #41 closed, assigned to nobody

[2020-12-05 20:10] Crell commented on #40
I've updated the RFC to clarify that "what objects do" is the default behavior.

[2020-12-05 20:10] #40 closed, assigned to nobody

[2020-12-06 11:30] iluuu1994 commented on #11
I think this is fairly clear now.

[2020-12-06 11:30] #11 closed, assigned to nobody

[2020-12-06 11:30] #14 closed, assigned to nobody

[2020-12-06 11:45] iluuu1994 commented on #15
I think this needs to be specified better in the RFC. We don't have to worry about ADTs at this point. However even for unit enums this poses a challenge.

1. `new` should probably be forbidden completely and throw
2. `newInstanceWithoutConstructor` should probably also throw
3. `unserialize` should always return the same object

[2020-12-06 11:47] iluuu1994 commented on #19
IMO `EnumSet` is the better approach.

[2020-12-06 11:48] #22 closed, assigned to nobody

[2020-12-06 11:50] iluuu1994 commented on #38
We have the `Enum` interface now so I think this is unnecessary. `class_exists` will return `true`.

[2020-12-06 11:50] #38 closed, assigned to nobody

[2020-12-06 11:51] iluuu1994 commented on #37
Are you ok with removing floats? IMO this is an edge case that is better handled with explicit conversion methods.

[2020-12-06 11:57] iluuu1994 commented on #35
@Crell So, what do you think? IMO `->value()` is easy enough that having to think about coercion is not worth it, especially given that PHP seems to have been striving for more strict type safety lately.

[2020-12-06 12:06] iluuu1994 opened #45 "Do we really need case specific methods?"
Sorry to raise this issue ^^ This has been the main criticism I've heard consistent across all platforms. As you know I have some mixed feeling on them. The benefits I can think of:

1. Exhaustiveness safety at compile time **when** using abstract methods (or interfaces) on the base class

[code]

2. It makes the state machine example possible

While I think the state machine example is cool it's

[2020-12-06 15:13] Crell commented on #37
I don't feel strongly about them. I can't think of a use case off hand but that doesn't mean someone else won't have one.  OTOH, fro what I can tell only Swift and Scala support float enum values. Python is int or string, Rust is int or struct, I am not sure about Kotlin.

So, I'd be OK with losing floats as long as we don't get too much pushback.

[2020-12-06 15:14] Crell commented on #35
My main concern is what is going to make life easiest for people round tripping enum data to the database.  I'm comfortable with whatever they're comfortable with.

[2020-12-06 15:17] Crell commented on #45
In some cases it makes the logic cleaner.  If you have a method that does something other than just return a value, it is difficult to fit into a match().  In that case you end up with a match() that branches out to other internal methods, at which point it would be cleaner and less typing to just have discrete case-specific methods.

Remember that methods can have parameters, even if they have no

[2020-12-06 15:18] iluuu1994 commented on #37
Ok. Let's remove them for now. It will always be easier to add them in the future than to remove them in case we face issues.

[2020-12-06 15:21] Crell commented on #45
Someone on [Twitter earlier](https://twitter.com/fn_schubert/status/1335534935562743808) offered another good use case for enums: HTTP methods.

I suspect we'll see more use cases crop up, many of which will benefit from methods.  And once we add tagged unions, Those very easily have case-specific methods.

[2020-12-06 15:22] iluuu1994 commented on #35
I think if we do want type coercion we need it both ways (convert strings/ints back to the enum). I have not investigated how easy this is. What could also cause some headaches is something like this:

[code]

I'm ready to investigate this for a few hours if you feel coercion is important.

[2020-12-06 15:23] Crell commented on #35
Let's see if we can get feedback from the ORM and DBAL people first to see what would be optimal for them, then we can see how easily we can achieve that.  No sense trying to make something work they don't actually want.

[2020-12-06 15:27] Crell opened #46 "Serialization"
Right now, serialization is either a loophole around === working, or a fatal.  Unless we can be certain how it's going to behave, we may want to just forbid it for now, at least until we figure out how it should work better.

I don't think `unserialize(serialize(Suit::Clubs));` is ever going to really play nice without a ton of work, so better to not have it half-work.

[2020-12-06 15:30] Crell opened #47 "var_export()"
Right now, it produces a `__set_state`-based output that populates a class.  That's almost certainly wrong.

Instead, probably just produce the FQCN of the case so that = works correctly.

[2020-12-06 15:45] Crell opened #48 "Traits"
WTF, traits. :smile:

How easy is it to only allow traits that have no properties?  We want to avoid those becoming a back-door way to introduce state.

[2020-12-06 15:48] iluuu1994 commented on #45
You can always move that code into a separate function. With both solutions, we have some kind of repetition.

[code]

So, the longer the method signatures (as in the more params) the more repetition there will be in the first approach.

I think that's part of the concern. Traditionally, all cases have the exact same API from the outside. That doesn't necessarily discredit it. I do however think t

[2020-12-06 15:49] Crell commented on #37
RFC updated

[2020-12-06 16:01] #37 closed, assigned to nobody

[2020-12-06 16:04] Crell commented on #15
Updated RFC to forbid new/newInstanceWithoutConstructor.  Also updated it to just disallow serialization for now.  If you can figure out how to support it, great, but better to forbid it outright than have it half-assed and broken.

[2020-12-06 16:28] iluuu1994 commented on #48
I got that on my radar 🙂

[2020-12-06 16:30] beberlei commented on #36
@Crell @iluuu1994 do you have an actual use case of the top of your head where an attribute can realistically only be on an enum vs a class? I don't. I wouldn't differentiate this right now, keeps it simpler.

[2020-12-06 17:15] dbalabka commented on #46
@Crell sometime ago I've reviewed this problem in the context of Enum implementation in pure PHP and singleton serialization in general:
https://github.com/dbalabka/php-enumeration#serialization
In result, I've decided to restrict serialization because it is impossible to handle it in PHP. Still, there is a workaround which implementation you can find here:
https://github.com/dbalabka/php-enumerat

[2020-12-06 18:24] muglug commented on #45
It's mostly a gut feeling.

High on my list of useful properties of an enum: you can see, at a glance, all the various values they can hold.

This serves that purpose admirably:

[code]

Allowing methods on the cases, on the other hand, means that you might have to scroll quite some way to see all the cases (supposing each case has multiple methods).

I also generally prefer a language be opiniona

[2020-12-07 12:24] iluuu1994 commented on #46
Disallowing enums in serialize means, whatever object you're serializing must not contain and single enum. That seems pretty limiting. I'll see if we can make this work.

[2020-12-07 12:25] iluuu1994 commented on #47
Good point. I'm not super-familiar with `var_export` but I'll look into it. We might just auto-implement `__set_state` and return the given constant. **Edit** Or probably better yet just drop the `__set_state` call.

[2020-12-07 13:36] bwoebi commented on #45
It really depends on the scope. For unitary cases (i.e. non ADT), most methods won't be complex, and a trivial match on a method of the enum class will be easier to read.

Also, it makes sense to _not_ specify some methods on some ADT enums later on. (e.g. the trivial Optional: Optional::Some has a get() function, Optional::None doesn't. Which can be used by code inference analysis to determine th

[2020-12-07 13:44] bwoebi commented on #15
Serialization: the class name (full class name with double colon) with empty object contents (unitary enums).
Unserialization really just needs to look the "type" of the class up and branch accordingly, if enum fetch singleton object from the given constant, otherwise instantiation. I strongly oppose not supporting it.

[2020-12-07 15:00] iluuu1994 commented on #45
Usually there's a method on both, but `None` will throw.

[code]

Or there are variations where a closure is only called if the value is available or whatnot.

[2020-12-07 15:09] bwoebi commented on #45
That's _usually_ the case, _because_ you do not have flexible typing and the compiler would like to have a word with you if you tried that in java (without ugly explicit casts).

[2020-12-07 15:28] iluuu1994 commented on #45
Not sure, I'd argue a "Unwrapped optional was empty" is better than "Unknown method "value()" called on Optional". I realized there might be other cases that are more useful. But as you say, if we do find a good use for them for ADTs we can luckily always add them at a later point in time.

[2020-12-07 18:27] dbalabka commented on #34
@iluuu1994, @Crell then I would propose to implement abstract methods to be available for Enum class as well. It might give a possibility to easy control methods implementation for each case w/o introducing new interface:
[code]

[2020-12-07 21:04] muglug commented on #45
Going all-in on the `Optional` type might be a losing battle when PHP already has a widely-understood concept of nullability.

[2020-12-08 00:25] bwoebi commented on #45
@muglug It was just the next best example I could grab. Not that I'd really advocate using Optional in PHP :-)

[2020-12-09 13:03] iluuu1994 opened #49 "SqlObjectStorage over WeakMap"
Comment from Nikita:

I agree with Nikita. SplObjectStorage seems more fitting as WeakMap is specifically designed for avoiding reference counting. It's not really relevant for constants since they will not be released until the end of the script but SplObjectStorage still seems like the more obvious choice.

[2020-12-09 13:05] iluuu1994 opened #50 ""enum class" keyword?"
This compound keyword would eliminate the BC break of adding a new keyword. Although it looks a bit less pretty.

[code]

At least something we should consider / talk about.

[2020-12-09 13:07] iluuu1994 opened #51 "Allow constants"
It has been mentioned multiple times that allowing constants in enums would be useful for creating aliases to avoid BC breaks.

[code]

[2020-12-09 13:08] iluuu1994 commented on #35
Comment from Nikita on the topic:

[2020-12-09 16:55] Crell commented on #50
If we have to, I'll deal, but I'd prefer not to.  That seems like it would only encourage more "but why can't I do $some_class_thing with enums? This is stupid" commentary for the next 40 years.

[2020-12-09 16:56] Crell commented on #51
If this is easy enough to do, I can't think of a reason not to.

Would this allow constants that are a combination of other enums?  I'm thinking of the bitmask type cases.

[2020-12-09 17:47] iluuu1994 commented on #51
I don't understand. You can't do `const BAR_OR_BAZ = self::Bar|self::Baz`. We'll need an `EnumSet` class for bitmask type functionality.

[2020-12-09 20:05] iluuu1994 opened #52 "var_dump"
We should change var_dump output to `enum(Foo::Bar)`. I'm not sure if this needs to be specified in the RFC.

[2020-12-11 13:04] iluuu1994 commented on #19
Actually, can we specify this in the RFC? (Future scope)

[2020-12-11 15:01] Crell commented on #19
If you can give me a better description of what EnumSet is, sure. So far people are tossing the term around but I'm not really clear on what it means.

[2020-12-11 15:23] iluuu1994 commented on #19
[Something like this](https://github.com/marc-mabe/php-enum/blob/master/src/EnumSet.php) (although probably significantly less complicated).

[2020-12-11 16:24] iluuu1994 commented on #50
I'd also prefer not to. Let's leave it for now. Some people will not be happy about the BC break but it was also kind of expected.

[2020-12-11 18:05] bwoebi commented on #19
Bitwise operation on enum values (or EnumSet) shall yield an EnumSet, it consisting of the union of all enum values resulting.

An EnumSet of a single value decays to the singular enum value it contains.

Examples:
[code]

So essentially, EnumSet is an internal (final) class with overloaded bitwise operators able to operate on enum values, implementing Countable and Traversable.

There probably al

[2020-12-16 21:33] iluuu1994 opened #53 "value or value() or getValue()?"
That is the question.

[2020-12-17 15:50] Crell commented on #53
My preference:

* value()
* value
*
*
*
*
*
* getValue()

The `get` prefix is absolutely useless here, and the more I learn about coding practices generally the more convinced I am that get/set prefixes generally are an anti-pattern.

[2020-12-17 16:15] iluuu1994 commented on #53
Well, I don't disagree but that argument could be made anywhere. Internal classes pretty much always use `get` for getters.

[2020-12-17 21:19] bwoebi commented on #35
Additionally, if we ever chose to add enumset, `IntegerBacked::A | IntegerBacked::B` will have different behavior and be a BC break.

[2020-12-18 16:49] iluuu1994 commented on #35
@Crell Your thoughts? `->value` is so easy that I think this is completely unnecessary.

[2020-12-18 17:32] iluuu1994 opened #54 "Tests for __CLASS__ and __FUNCTION__"

[2020-12-18 17:32] iluuu1994 opened #55 "Namespace tests"

[2020-12-18 18:12] iluuu1994 opened #56 "Constant expressions for primitive values?"
Do we need:

[code]

@bwoebi FYI

[2020-12-18 18:29] beberlei commented on #35
I need two things, a property or method to convert the enum into a scalar value, and a factory method to create an enum instance from the scalar value.

[code]

[2020-12-18 18:31] Crell commented on #56
I'd consider this a nice-to-have, but not a show stopper.  I don't know how practical or common it would be in practice.

[2020-12-18 19:51] iluuu1994 commented on #35
@beberlei The RFC should meet these requirements even after removing type coercion (except that we call `create` `from`).

[2020-12-18 21:10] iluuu1994 commented on #19
This is mentioned now.

[2020-12-18 21:10] #19 closed, assigned to nobody

[2020-12-18 21:10] iluuu1994 commented on #33
This is irrelevant now.

[2020-12-18 21:10] #33 closed, assigned to nobody

[2020-12-18 21:11] iluuu1994 commented on #34
This is now irrelevant.

[2020-12-18 21:11] #34 closed, assigned to nobody

[2020-12-18 21:11] #42 closed, assigned to iluuu1994

[2020-12-18 21:13] iluuu1994 commented on #47
This is now handled correctly.

[2020-12-18 21:13] #47 closed, assigned to nobody

[2020-12-18 21:23] #45 closed, assigned to nobody

[2020-12-18 21:23] iluuu1994 commented on #46
We now have serialization.

[2020-12-18 21:23] #46 closed, assigned to nobody

[2020-12-18 21:24] iluuu1994 commented on #48
We've specified this in the RFC.

[2020-12-18 21:24] #48 closed, assigned to nobody

[2020-12-18 21:24] #49 closed, assigned to nobody

[2020-12-18 21:24] #51 closed, assigned to nobody

[2020-12-18 21:27] #54 closed, assigned to iluuu1994

[2020-12-18 21:31] #55 closed, assigned to iluuu1994

[2020-12-18 21:33] iluuu1994 commented on #18
We don't really need this for now.

[2020-12-18 21:33] #18 closed, assigned to nobody

[2020-12-19 12:28] #52 closed, assigned to nobody

[2020-12-19 12:48] iluuu1994 commented on #15
Done, this now works.

[2020-12-19 12:48] #15 closed, assigned to Crell

[2020-12-19 12:58] iluuu1994 commented on #36
No, I can't think of any. We had the `#[CaseValue]` use case but this becomes unnecessary with our dedicated primitive value syntax. IMO class is enough for enums and const is enough for cases. @Crell Can you think of any?

[2020-12-19 13:00] iluuu1994 commented on #43
According to Nikita my parser workaround for allowing `Enum` is not sufficient. I think we should drop the `Enum` interface for now. It is redundant as we now have `is_enum`.

[2020-12-19 13:04] iluuu1994 commented on #50
C++ and Kotlin are two languages I could find that also use `enum class`. I don't really care either way. Unless somebody strongly objects let's keep it the way it is for now.

[2020-12-19 13:04] #50 closed, assigned to nobody

[2020-12-19 13:06] iluuu1994 commented on #56
Ok, can you specify in the RFC that this is currently not possible? Then we'll see if somebody objects :slightly_smiling_face:

[2020-12-21 16:00] iluuu1994 commented on #53
Implemented as a readonly property for now. @Crell Are you ok with that? Can you adjust the RFC?

[2020-12-21 16:02] Crell commented on #43
I think I already removed the Enum interface from the RFC itself.

[2020-12-21 16:04] iluuu1994 commented on #43
It's still under "New interfaces"

[2020-12-21 16:05] Crell commented on #43
Removed.

[2020-12-21 16:05] #43 closed, assigned to iluuu1994

[2020-12-21 16:07] Crell commented on #56
Updated.

[2020-12-21 16:07] #56 closed, assigned to nobody

[2020-12-21 16:07] iluuu1994 commented on #43
Thanks :slightly_smiling_face:

[2020-12-21 16:08] Crell commented on #53
Already done based on the latest code.

[2020-12-21 16:08] #53 closed, assigned to nobody

[2020-12-21 16:44] Crell commented on #36
How about we add it to the open questions section and poll the audience.  I feel like cutting off the ability to say "this only makes sense on enums" just because we can't think of one is too hubristic.

[2020-12-21 16:50] iluuu1994 commented on #36
I'd be ok with that. Note that implementing this behavior is still entirely possible, it just requires a manual `$reflectionClass->isEnum()` or `$reflectionClassConstant->isEnumCase()` check.

[2020-12-23 10:04] iluuu1994 opened #57 "Rename ScalarEnum to Raw- or ValueEnum?"
Based on the discussion in R11.

Scalar IMO is not a very descriptive name. 1. Not all scalars are allowed 2. If we ever allow non-scalars (like enums) then the term will also be wrong.

Since our property is called `value` `ValueEnum` might make sense although I think that will become confusing as soon as we have ADTs. I'd prefer `RawEnum` (also renaming `value` to `raw`).

@Crell WDYT?

[2020-12-23 14:58] iluuu1994 commented on #35
@Crell Can you share your thoughts?

Arguments for type coercion:

* Slightly more convenient

Arguments against type coercion:

* Only unilateral type coercion
* Makes `Foo::Bar | Foo::Bar` syntax for enum sets impossible (or require a BC break)
* Coercion doesn't make sense in many case (e.g. `substr`)
* Most people want to transition to a more strict type system

[2020-12-23 20:05] iluuu1994 opened #58 "Prevent offsetGet on enums in const expr"
Based on [this discussion](https://github.com/php/php-src/pull/6489#discussion_r547596214). We need to prevent `Foo::Bar[0]` in const expressions because that would allow you to run arbitrary code in a constant expression (through `offsetGet`). This should probably be mentioned in the RFC.

Here's the tests, maybe that will make more sense:
https://github.com/iluuu1994/php-src/commit/4f4c314fed9b5

[2020-12-23 20:06] iluuu1994 commented on #58
/cc @TysonAndre

[2020-12-23 20:24] TysonAndre commented on #17
If, in the final design, the associated values are guaranteed to be constant expression values (including enums): Maybe the same functionality as WeakMap could be used to ensure that only one instance of `Option::Some(1)` can exist at a given point of time with a given set of values, making `===` work by default. using the combination of enum name, case, and params could generate a unique key with

[2020-12-23 20:31] TysonAndre commented on #58
It'd make more sense as a thrown `Error` (not a CompileError) because constants are lazily evaluated the first time a constant expression for a class is read from - see comment on linked commit

[2020-12-24 02:05] Crell commented on #57
I'm not wedded to "Scalar" Enum as a name if we can find something better.  I don't think it's bad, though.

ValueEnum I agree is tempting, but could also be confusing.

"Raw" implies some unfiltered, unprocessed, potentially dangerous thing.  That's not the case here.  The primitives backing an enum case are not unfiltered, unprocessed, and hopefully not dangerous.  I'm -1 on that.

Is there term

[2020-12-24 02:07] Crell commented on #35
I don't have a strong feeling about it either way, to be honest, beyond what ends up most ergonomic for cases that will be converting back and forth a lot.  That's mainly DBALs and template engines.

If the DBAL and template engine people don't have a strong case for auto-conversion, then I'm fine with leaving that out.  The only reason to include it, IMO, would be if it makes their lives consider

[2020-12-24 02:09] Crell commented on #58
@iluuu1994 The "this discussion" link links back to this page.  Where did you intend to have it point?

[2020-12-24 02:15] Crell commented on #58
I'd be fine just disallowing ArrayAccess entirely.  Otherwise it gets confusing as I don't quite grok from the test what is and isn't allowed with ArrayAccess.

That said, *every* method on an enum has the potential to bypass the singleton-ness of it.  offsetGet() isn't special in that regard, is it?  (offsetSet() is where it is definitely a no-no.)

[2020-12-24 02:55] TysonAndre commented on #58
It was my earlier quote from the PR link - obviously any method can have state through statics and global variables, etc., but the issue is the change to constant expressions

[2020-12-24 10:25] iluuu1994 commented on #57
Another option is `BackedEnum`/`value`. I'm not aware of different terms in other languages but I'll do some research.

[2020-12-24 10:26] iluuu1994 commented on #35
Cool, then let's drop it :slightly_smiling_face:

[2020-12-24 10:30] iluuu1994 commented on #58
@TysonAndre

AFAIK there are various things that can trigger the updating of the class constants (e.g. create a new instance). So the class will be completely unusable because attempting to do anything with it will always make it fail. Thus I'm not sure if recoverable behavior here is actually useful. WDYT?

[2020-12-24 16:48] Crell commented on #35
Dropped, and moved to Future Scope as something for a future PHP to possibly reintroduce after we have more experience in the wild.

[2020-12-24 16:48] #35 closed, assigned to nobody

[2020-12-24 18:08] TysonAndre commented on #57
`ReflectionEnumCase::getScalar` could also be renamed to `getValue`, even if the name of ScalarEnum doesn't change.

I can't think of any good names, just thinking of ideas. SingleValueEnum or ConstantValueEnum?

- Maybe the case without a value could be AnonymousEnum, and cases with a value could just be Enum, and nothing would directly implement Enum
- SingleValueEnum or ConstantValueEnum?
- If

[2020-12-24 18:50] TysonAndre opened #59 "Clarify types of operations that are allowed in expressions in RFC document/implementation"
https://wiki.php.net/rfc/enumerations currently says

This was relaxed to allow `-1` - `-1` is not a literal

[code]

The representation of PHP_INT_MIN is not a literal (9223372036854775808 is a float, and the negation of a float is a float)

[code]

Related to #56

[2020-12-24 18:56] Crell commented on #57
At the moment, the planned names are `UnitEnum`, `ScalarEnum`, and `TaggedEnum`.  None are set in stone, but that's what the RFCs say for now.

[2020-12-24 19:19] iluuu1994 commented on #57
TaggedUnion, no? The term comes from combining enums (tags) with unions.

[2020-12-25 22:04] Crell commented on #57
The ADT RFC right now refers to "Tagged Cases", such that an ADT can include mix of Unit Cases and Tagged Cases, but not Scalar Cases.  As of the moment that is as much as it specifies.

It's not implemented yet so everything there is subject to change if needed.

[2020-12-28 22:59] TysonAndre opened #60 "Fast method to get only the name of a case?"
Possibly redundant since `case Hearts = 'Hearts'` can be used if you really want to use the name to identify cases, but after removing $value->name you'd need ReflectionEnumCase or `explode('::', var_export($value, true))[1]` if you wanted the enum name (e.g. for a debugging statement such as `printf("Handling %s\n", repr($enum))`

Compiled languages often don't provide this, but dynamic ones migh

[2020-12-28 23:06] iluuu1994 commented on #60
We've come full circle ^^ Well, I would honestly just prefer keeping the `case` property. It also technically makes more sense than keeping a hashmap for the case names.

[2020-12-29 00:53] TysonAndre opened #61 "Is the name ReflectionEnumCase(implementation) or ReflectionCase(RFC document)"
I don't feel strongly about this - I don't think anything else would be a case that could be reflected on in the future

[2020-12-29 01:19] TysonAndre commented on #60
Same.

That approach also makes it easier for libraries to attempt to partially polyfill this before 8.1 (e.g. also define `public static function Hearts() { return self::Hearts; /* or something else in 8.0 and older */ }`)
(if code used the name)

[2020-12-29 15:45] Crell commented on #61
I also don't feel that strongly about it.  I guess ReflectionEnumCase is the more future-proof option.  @iluuu1994?

[2020-12-29 16:58] iluuu1994 commented on #61
I intentionally picked `ReflectionEnumCase` and forgot to tell you :slightly_smiling_face:

[2020-12-30 01:52] Crell commented on #61
Well humph.

RFC updated.

[2020-12-30 01:52] #61 closed, assigned to nobody

[2020-12-30 09:29] stof commented on #39
but why allowing `Suit::Hearts->color` through magic methods but not through normal properties ?

[2020-12-30 19:54] Crell commented on #39
Normal properties would be mutable state.  __get() is not.  However, we've since ended up removing __get anyway for other reasons.  They may get introduced in the future.  (See the future-scope section.)

Closing this for now.

[2020-12-30 19:59] #39 closed, assigned to nobody

[2020-12-31 17:16] iluuu1994 opened #62 "ReflectionEnumConst for ADT compatibility"
It might be better to make `ReflectionEnumConst` and interface and rename `ReflectionEnumConst` to `ReflectionUnitEnumCase`. This way, when we add ADTs we can create a `ReflectionTaggedUnionCase` (or what have you) that will be based on `ReflectionMethod` (or maybe completely separate).

[2020-12-31 17:17] iluuu1994 opened #63 "from/has scalar in reflection"
From reflection it's currently not possible to get a case from a scalar. Reflection should probably be able to do that.

[2020-12-31 17:18] iluuu1994 opened #64 "Handle failure in from"
Some people have suggested either

1. Adding a `has` method to know if `from` will succeed
2. Make `from` return `null` instead

I'm not super happy with either of those but we'll probably have to settle for one of them. @Crell Which do you prefer?

/cc @bwoebi

[2020-12-31 19:17] bwoebi commented on #64
I wouldn't do `2.` - often enough your inputs come from a trusted source, it's good to have a hard failure there instead of passing null around.

Adding `has` is fine.

[2021-01-01 13:36] iluuu1994 commented on #36
@Crell We need to make some decisions. I'm against this feature mostly because I don't see the value at this point. You can also easily check that the given class is an enum with `RefectionClass::isEnum()` (this is actually undocumented, we'll need to specify this in the RFC). But I will also not fight you if you insist on this feature.

[2021-01-01 13:48] beberlei commented on #36
You should really remove this, the reflection part is already the tricky issue about the whole proposal. Adding even more complexity here may tilt opinion towards no in my opinion

[2021-01-01 14:34] iluuu1994 commented on #60
@Crell As we've agreed to keep this property now after all, can you add it to the RFC?

[2021-01-01 14:35] iluuu1994 commented on #64
@Crell I'm ok with option 1 if you are.

[2021-01-01 15:09] iluuu1994 commented on #57
The only other idea I've had was `ConvertibeEnum` which is probably the most explicit. But imo none of the options are great. Any other ideas?

[2021-01-01 19:37] Crell commented on #64
I'd favor 1.  Forcing the user to check for null every time to avoid random nulls elsewhere is a bad idea.

has-and-exception it is.

[2021-01-01 19:50] Crell commented on #60
->case is now added to the first section ("Unit Enums").

[2021-01-01 19:50] #60 closed, assigned to nobody

[2021-01-01 19:51] iluuu1994 commented on #36
Removed from the RFC.

[2021-01-01 19:51] #36 closed, assigned to nobody

[2021-01-01 19:51] Crell commented on #36
After further discussion we decided to drop the extra targets, but I reserve the right to say "I told you so" to both of you if use cases where a class/const attribute is not appropriate on an enum/case or vice versa is found in the future. :stuck_out_tongue:

[2021-01-02 10:36] iluuu1994 commented on #64
Not yet specified in the RFC. @Crell Can you do that?

[2021-01-02 11:14] iluuu1994 opened #65 "Override getDeclaringClass() to return ReflectionEnum instead of getEnum()"
I'm thinking about ways to make reflection simpler. This is one such thing. Instead of adding a redundant `ReflectionEnumCase::getEnum()` method we could simply override `ReflectionClassConst::getDeclaringClass()` and return a `ReflectionEnum` instance instead.

[2021-01-02 16:28] Crell commented on #64
Added `has()`.

Should we throw a more specific error for a missing case than just `ValueError`?  Something more easily catchable, like `EnumCaseNotFoundError`, which includes the bad value that was requested?

[2021-01-02 16:33] Crell commented on #65
So...  You'd end up with this?

[code]

I suppose that's Liskov safe, but still feels a little odd.  The code seems less self-documenting to me.

[2021-01-02 16:43] bwoebi commented on #64
I feel like `ValueError` is appropriate - don't catch, use `has()` would be my philosophy. Better for the ecosystem if there are not multiple _obvious_ ways to do the same thing.

[2021-01-02 16:46] bwoebi commented on #65
$r2 would be still ReflectionEnum, as it's operating on the value. (and not the source of the const)

[2021-01-02 16:51] bwoebi commented on #63
technically you can do `$reflectionEnum->getMethod("has")->invoke(null, $someValue);` … And practically `$reflectionEnum->getName()::has($value);`

[2021-01-02 17:59] iluuu1994 commented on #64
I think `ValueError` works fine, since that is the only exception thrown by this functions. Thanks!

[2021-01-02 17:59] #64 closed, assigned to nobody

[2021-01-02 18:01] iluuu1994 commented on #65
What @bwoebi said :slightly_smiling_face: If you tried `new ReflectionEnumCase(Suit::class, 'ConstThatReferencesHearts')` then yes, that should fail.

[2021-01-02 18:03] iluuu1994 commented on #63
@bwoebi Sure, but is that generally considered enough? Many things in PHP can be done without reflection (`$foo->{$bar}`) but they are generally also possible through reflection.

[2021-01-02 19:22] bwoebi commented on #63
I don't care :-D I never use the reflection way unless I have access permission issues (which cannot happen here).

[2021-01-09 12:43] iluuu1994 opened #66 "UnitEnum definition"
The RFC specifies:

Since ScalarEnums are also UnitEnums this definition is incorrect. We don't have a term for non-scalar enums at the moment.

[2021-01-09 13:07] iluuu1994 opened #67 "has() vs tryFrom()"
Suggested by Nikita, has() itself is rarely useful. It will always be used in combination with from() so we might as well offer tryFrom() to make these cases shorter.

[2021-01-09 13:09] iluuu1994 commented on #67
Additional plus: Static analyzers will understand that `tryFrom()` doesn't throw an exception while `has() ? from() : null` would require additional logic to understand.

[2021-01-09 13:14] iluuu1994 opened #68 "Inherited ReflectionEnum methods"
The RFC specifies:

This is currently not true. `getProperties()` returns the `name` and `value` properties (if available). I think this is the expected behavior.

[2021-01-09 22:17] Crell commented on #66
Oh bat gizzards.  That was written before ScalarEnum extended UnitEnum.  We should unify the terminology one way or the other.  What do we call non-scalar enums then if not unit enums?  Or is unit enum still the correct term?

[2021-01-09 22:18] Crell commented on #67
As discussed in slack, my primary concern with from()/tryFrom() is that we'd be stealth-introducing a naming convention of "tryX() means it may return null".  I am highly wary of that without further consideration because the implications could be large.

(Not necessarily bad, but large.)

[2021-01-09 22:38] TysonAndre commented on #67
There's also the option of `getOrDefault(string $name, $default = null)`, but both would definitely be different naming conventions. I don't have a strong preference.

I agree it's definitely easier.

They'd have to get it from an external repo such as https://github.com/JetBrains/phpstorm-stubs/blob/master/Reflection/ReflectionClass.php (or extract it) because getDocComment() is almost always nul

[2021-01-09 22:46] Crell commented on #67
I'd feel more comfortable with `from(): self` / `tryFrom(): ?self` if voters were clear of the implications.  Unless someone objects I'm going to start a thread on Internals tomorrow to highlight it and see if anyone has an issue with setting this precedent.  If there's no serious pushback, then we can go with that.

[2021-01-09 22:46] TysonAndre commented on #66
`AbstractEnum` being extended by UnitEnum and ScalarEnum is another option, if support for more immutable data types such as Distance::Miles(10) are added (Enum was your original proposal; that conflicted with the token)

The is_enum() function could alternately be reintroduced?

https://github.com/Crell/enum-comparison/issues/43 is related

[2021-01-10 00:14] iluuu1994 commented on #67
The downside of `fromOrDefault` is that with missing generics the return type would have to be `mixed`. My preference is `tryFrom`. I'm also cool with `fromOrNull`.

[2021-01-20 23:05] Crell commented on #58
Please clarify exactly what I should note is forbidden, because I don't really follow it.  I'm fine blocking whatever you say to block here; I just need to grok it enough to document it.

[2021-01-20 23:19] Crell commented on #67
RFC updated to use `from`/`tryFrom`.

[2021-01-20 23:19] Crell commented on #67
Leaving open until @iluuu1994 updates the implementation. Ilija, please close when you've done so.

[2021-01-20 23:21] Crell commented on #63
Honestly, I'm fine with these not being accessible through reflection directly.  If you're in a reflection context you can always get from there to the actual case object and then call the appropriate methods.  I'm also fine if Ilija wants to add it.  I don't care much either way.

[2021-01-20 23:23] Crell commented on #59
RFC updated accordingly.

[2021-01-20 23:23] #59 closed, assigned to nobody

[2021-01-20 23:30] TysonAndre commented on #58
It's forbidden to use enum objects (from global constants, class constants, or enum values) in constant expressions

e.g. all of those would throw Errors at runtime

[code]

But something like `$x = A::EnumValue[0];` would not throw at runtime, because that location isn't a location requiring a constant expression.

The concern is allowing a way to introduce side effects or non-deterministic behav

[2021-01-20 23:35] Crell commented on #62
RFC has been updated.  Leaving this open for implementation.  Close when implemented.

[2021-01-20 23:35] Crell commented on #65
Is there anything to do here?  Ilija?

[2021-01-20 23:53] Crell commented on #66
Thinking on the Naming Things(tm) problem, there's two levels to consider.

The cases:
* Unit cases - no scalar.
* Scalar cases - scalar equivalent. May extend in the future to another enum?
* Tagged cases - with associated data.

The enum types:
* Unit Enum - Contains only unit cases.
* Scalar Enum - Contains only scalar cases.
* Tagged Enum - Contains only unit cases OR tagged cases.

`cases()`

[2021-01-21 23:36] Crell commented on #58
Hm.  So we currently say this:

You're saying we should change it to, I think:

Am I following?

[2021-01-21 23:51] TysonAndre commented on #58
I'd write it more like the above, but there may be a clearer way to put that.

Explicit method calls and property access syntaxes were never allowed in constant expressions in any php version, so the phrasing is confusing, e.g. in php 7.4 .

EDIT: The error message changed in php 8.0

[code]

The only concern is implicit method calls such as ArrayAccess, and __toString(). **Which reminds me, shoul

[2021-01-22 17:52] Crell commented on #58
Ah, gotcha.  __toString is already disallowed according to the RFC at the moment, so no worries there.

I've updated the RFC accordingly.  I broke that description out to a new section rather than tucking it into the constants section.  See the new "Enums in constant expressions" section and let me know if I captured it accurately.

[2021-01-22 23:18] #67 closed, assigned to nobody

[2021-01-22 23:19] iluuu1994 commented on #58
Explanation in the RFC seems very reasonable. :+1:

[2021-01-22 23:19] #58 closed, assigned to Crell

[2021-01-22 23:21] iluuu1994 commented on #63
Well, let's leave it then :laughing:

[2021-01-22 23:21] #63 closed, assigned to nobody

[2021-01-22 23:38] iluuu1994 commented on #66
Hm, I think our current terminology is mostly fine, except for `ScalarEnum`. `BackedEnum` is fine by me although I'd still prefer `ValueEnum`. If we call ADTs ADTs or tagged unions there should be no confusion. I don't think we actually need a `NamedEnum` interface or an interface for ADTs (they have no special methods).

[2021-01-22 23:41] iluuu1994 commented on #68
Adjusted in the RFC.

[2021-01-22 23:41] #68 closed, assigned to nobody

[2021-01-22 23:53] iluuu1994 commented on #65
I just tried it and php was giving me some trouble. Let's forget about it ^^

[2021-01-22 23:53] #65 closed, assigned to nobody

[2021-01-22 23:55] iluuu1994 commented on #62
I actually think we should completely drop `ReflectionEnumCase` until we actually add ADTs. Otherwise it's just an empty interface. Using that in the reflection methods would be completely useless as then you'd just have to assert that it's a unit case.

[2021-01-22 23:56] iluuu1994 commented on #24
Thanks! The analysis is over and no longer our focus. We'll keep this in mind if we ever get back to it.

[2021-01-22 23:56] #24 closed, assigned to nobody

[2021-01-22 23:56] iluuu1994 commented on #10
We'll deal with this later on.

[2021-01-22 23:56] #10 closed, assigned to nobody

[2021-01-22 23:59] iluuu1994 commented on #17
That would make them a lot less useful. I think the way to go is to override the `===` behavior for enums specifically. But we'll deal with this once enums are accepted.

[2021-01-22 23:59] #17 closed, assigned to nobody

[2021-01-23 00:06] iluuu1994 opened #69 "Custom print_r output"
Passing enums to `print_r` currently produces:

[code]

Do we need a custom output? What should it be?

/cc @Crell

[2021-01-23 00:55] TysonAndre commented on #69
My preference would be to distinguish the object `Foo::Bar` from the literal string `'Foo::bar'`, so either Object or Case.

I don't know if it's special enough to even warrant a different name from Object especially if tagged values are supported later or immutable classes, etc - looking up the class name will tell a user if it's an enum

[code]

[2021-01-23 01:27] TysonAndre commented on #58
Could optionally add the example `$x = Direction::Up['short'];  // This is allowed: this is not in a constant expression` to the php snippet to make it as clear as possible (e.g. to avoid people getting the impression arrayaccess can't be used at all)

[2021-01-23 01:34] Crell commented on #69
We should ensure that it is displayed as an enum case, not as any other object, to avoid confusion.

What specifically that looks like in the output, I don't have particularly strong feelings.

[2021-01-23 01:36] Crell commented on #58
Tweaked per @TysonAndre's feedback.

[2021-01-23 13:52] iluuu1994 commented on #69
Chose a minimalistic approach for now.

[code]

@Crell Can you specify this with a really short sentence in the RFC?

[2021-01-23 14:03] iluuu1994 commented on #62
Adjusted in the RFC and implemented.

[2021-01-23 14:03] #62 closed, assigned to nobody

[2021-01-23 14:50] TysonAndre opened #70 "I created an online WebAssembly demo for enums"
This may help in answering questions reviewers may have about the implementation, or in clarifying answers/misconceptions - https://tysonandre.github.io/php-rfc-demo/enums/

- You can create links with snippets to evaluate - https://tysonandre.github.io/php-rfc-demo/enums/?code=%3C%3Fphp%0A%0Aenum+Suit+%7B%0A++++case+Hearts%3B%0A++++case+Diamonds%3B%0A%7D%0A%0A%24h+%3D+Suit%3A%3AHearts%3B%0A%24h-%

[2021-01-23 15:25] iluuu1994 commented on #70
This is really cool, thanks @TysonAndre! I asked Sjön to add to add a branch to https://3v4l.org. He briefly added it but for some reason it vanished. This seems to serve the same purpose. @Crell IMO it would be pretty nice to share this on the ML so people can play around and see if they discover anything that might be surprising to them.

[2021-01-23 17:16] Crell commented on #66
Well, one thing that the above breakdown demonstrated to me is that perhaps the ScalarEnum interface should not extend UnitEnum.  Or rather, UnitEnum isn't a thing; An enum is enumerable or not.  cases() won't appear on ADTs/tagged enums.  NamedEnum doesn't need to be a thing because there's no methods on it, but I think EnumerableEnum and BackedEnum/ValueEnum/whatever make more sense, especially

[2021-01-24 16:43] Crell commented on #69
RFC updated with something similar to that, but I moved the type specifier around.  Ilija, close this ticket when the PR is updated.

[2021-01-24 17:15] TysonAndre commented on #69
FYI, I noticed a few typos and fixed them. If any of those were incorrect roll them back. I also changed the indentation of one of the snippets to 2 spaces (a minor inconsistency is a bit distracting from the RFC), which was what was used in all of the other snippets.

nit: For `Once the dust settles they may get added`, should that have a comma? `Once the dust settles, they`

[code]

[2021-01-24 17:20] TysonAndre commented on #69
[code]

and the output of `print_r` looks reasonable

[2021-01-25 02:24] Crell commented on #69
Yep, those all look fine, and you're right, comma added.  Closing this out.

[2021-01-25 02:24] #69 closed, assigned to nobody

[2021-01-26 20:33] iluuu1994 commented on #70
We shared it in the ML. Thanks again!

[2021-01-26 20:33] #70 closed, assigned to nobody

[2021-01-26 20:36] iluuu1994 commented on #66
Coming back to the original issue: How about changing the sentence to something like:

[2021-01-26 20:40] iluuu1994 commented on #57
Last chance :smile:

* `ScalarEnum`
* `ValueEnum`
* `BackedEnum`

Place your votes. Mine goes to `ValueEnum`.

[2021-01-29 16:26] #57 closed, assigned to nobody

[2021-01-29 16:26] #66 closed, assigned to nobody

[2021-02-04 00:27] TysonAndre opened #71 "Improve issue message for array unpacking of Traversable enum"
I forgot about this php feature earlier - `...` unpacks an traversable, making it implicitly call traversable helpers.

For enums, this should still be a CompileError, but would be more useful to make the error message `Cannot unpack enums in a constant expression` for IS_OBJECT that's an enum (ZEND_ASSERT)
- That's consistent with the overall approach to forbidding magic methods such as ArrayAcce

[2021-02-22 09:15] tigitz opened #73 "Some feedback on Reddit"
Hello,

Just to inform you I took the liberty of posting your repo on reddit, you can see feedback here:

https://www.reddit.com/r/programming/comments/lpdmgt/a_survey_of_programming_language_enum_support/

Thanks a lot for your work on PHP Enum!

[2021-02-22 09:46] iluuu1994 commented on #73
Thanks for letting us know. Either way, the RFC was already accepted: https://wiki.php.net/rfc/enumerations

[2021-02-22 09:46] #73 closed, assigned to nobody

[2022-10-18 00:25] TysonAndre commented on #71
I forgot about this and saw it while going through old issues. I'll file an issue in php-src

[2022-10-18 00:25] #71 closed, assigned to nobody